<form nz-form class="ant-advanced-search-form" [nzLayout]="'vertical'">
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 40, xl: 40, xxl: 40 }">
    <div nz-col [nzXXl]="4" [nzXl]="6" [nzLg]="8" [nzMd]="12" >
      <nz-form-item>
        <nz-form-control>
          <input
            nz-input
            placeholder="姓名"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzXXl]="4" [nzXl]="6" [nzLg]="8" [nzMd]="12">
      <nz-form-item>
        <nz-form-control>
          <input
            nz-input
            placeholder="电话"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzXXl]="4" [nzXl]="6" [nzLg]="8" [nzMd]="12">
      <nz-form-item>
        <nz-form-control>
          <input
            nz-input
            placeholder="身份证"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzXXl]="4" [nzXl]="6" [nzLg]="8" [nzMd]="12">
      <nz-form-item>
        <nz-form-control>
          <input
            nz-input
            placeholder="居住地址"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzXXl]="4" [nzXl]="6" [nzLg]="8" [nzMd]="12">
      <nz-form-item>
        <nz-form-control>
          <input
            nz-input
            placeholder="籍贯"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzXXl]="4" [nzXl]="6" [nzLg]="8" [nzMd]="12">
      <nz-form-item>
        <nz-form-control>
          <input
            nz-input
            placeholder="政治面貌"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXXl]="4" [nzXl]="6" [nzLg]="8" [nzMd]="12">
      <button nz-button [nzType]="'primary'">查询</button>
      <button nz-button>重置</button>
      <a class="collapse">
        Collapse
        <i nz-icon [nzType]="'down'"></i>
      </a>
    </div>
  </div>

</form>

<div class="table-operations">
  <button nz-button nzType="primary" (click)="add()">add</button>
  <button nz-button (click)="delete(5)">delete</button>
</div>

<nz-table *ngIf="listData"
          #basicTable
          nzShowPagination
          nzShowSizeChanger
          nzSize="middle"
          [nzTitle] = "'xxx表'"
          [nzFooter] = "'共182条，第1-10条'"
          [nzData]="listData"
          [nzLoading]="loading"
          (nzCurrentPageDataChange)="currentPageDataChange($event)">
  <thead>
  <tr>
    <th>
      Name
    </th>
    <th>Age</th>
    <th>Address</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable['data']">
    <td>{{ data.name }}</td>
    <td>{{ data.age }}</td>
    <td>
      {{ data.address }}
    </td>

    <td>
      <a>Edit</a>

      <nz-divider nzType="vertical"></nz-divider>
      <a nz-popconfirm nzTitle="Are you sure delete this task?" (nzOnConfirm)="delete(data.id)">delete</a>
    </td>
  </tr>
  </tbody>
</nz-table>
