/* 全局 */
body {
  padding: 0 10px;
  background-color: #f3f3f4;
}

button {
  margin-right: 8px;
}

.text-nowrap {
  white-space: nowrap;
}

/* 搜索部分 */
.ant-advanced-search-form {
  margin: 15px 0 20px 0;
  padding: 10px 15px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.collapse {
  margin-left: 8px;
  font-size: 12px;
}

.ant-advanced-search-form nz-form-item,
.ant-advanced-search-form nz-form-label,
.ant-advanced-search-form .search-btn-group {
  margin: 6px!important;
}


/* 表格部分 */
.search-result-table {
  background-color: #fff;
}

.search-result-table .table-operations button[nzSize="small"] {
  padding: 1px 15px 3px 15px;
}

.search-result-table th {
  white-space: nowrap;
  font-weight: bold;
}
